#
# Copyright (c) 2021-2025 Red Hat, Inc.
# This program and the accompanying materials are made
# available under the terms of the Eclipse Public License 2.0
# which is available at https://www.eclipse.org/legal/epl-2.0/
#
# SPDX-License-Identifier: EPL-2.0
#

name: PR

on:
  pull_request:
    branches: ['*']

env:
  IMAGE_VERSION: pr-${{ github.event.pull_request.number }}
  ORGANIZATION: quay.io/che-incubator

jobs:

  build-and-test:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        node-version: [20.x, 22.x]
    steps:
      -
        name: "Checkout source code"
        uses: actions/checkout@v4
      -
        name: "Use Node.js ${{ matrix.node-version }}"
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      -
        name: "Install dependencies"
        run: npm ci
      -
        name: "Run linters"
        run: npm run lint
      -
        name: "Run license header check"
        run: npm run header:check
      -
        name: "Run type check"
        run: npm run type-check
      -
        name: "Build"
        run: npm run build
      -
        name: "Run unit tests"
        run: npm run test:unit
      -
        name: "Run integration tests"
        run: npm run test:integration
      -
        name: "Run all tests with coverage"
        run: npm run test:coverage

  docker-build:
    needs: build-and-test
    runs-on: ubuntu-22.04
    continue-on-error: ${{ matrix.default == false }}
    strategy:
      fail-fast: false
      matrix:
        platform: [linux/amd64]
        default: [true]
        include:
          - platform: linux/arm64
            default: false
    steps:
      -
        name: "Checkout source code"
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      -
        name: "Set up QEMU"
        uses: docker/setup-qemu-action@v3
      -
        name: "Set up Docker Buildx ${{ matrix.platform }}"
        uses: docker/setup-buildx-action@v3
      -
        name: "Cache Docker layers"
        uses: actions/cache@v4
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-
      -
        name: "Docker quay.io Login"
        uses: docker/login-action@v3
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_CHE_INCUBATOR_USERNAME }}
          password: ${{ secrets.QUAY_CHE_INCUBATOR_PASSWORD }}
      -
        name: "Build and push ${{ matrix.platform }}"
        uses: docker/build-push-action@v5
        with:
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache
          context: .
          file: ./build/dockerfiles/Dockerfile
          platforms: ${{ matrix.platform }}
          push: ${{ matrix.default == true }}
          provenance: false
          tags: ${{ env.ORGANIZATION }}/dash-licenses:${{ env.IMAGE_VERSION }}
      -
        name: "Comment with image name"
        uses: actions/github-script@v7
        if: ${{ matrix.default == true }}
        with:
          script: |
            const { issue: { number: issue_number }, repo: { owner, repo } } = context;
            const dashLicensesImage = "${{ env.ORGANIZATION }}/dash-licenses:${{ env.IMAGE_VERSION }}";
            const dockerCommand = `docker run --rm -v \${PWD}:/workspace/project ${dashLicensesImage} --batch 200`;
            const text = `
            Docker image build succeeded: **${dashLicensesImage}**
            <details>
            <summary>Usage example</summary>
            
            \`\`\`bash
            ${dockerCommand}
            \`\`\`
            
            </details>
            `;
            github.rest.issues.createComment({ issue_number, owner, repo, body: text });

